.board {
  background-color: #fff;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  box-shadow: 2px 2px 15px 1px rgba(68, 68, 68, 0.6);
  padding: 5px;
  position: relative;
  margin-bottom: 15px;
}

.board__heading {
  font-size: 16px;
}

.board__button--remove {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
}





.new-board {
  background-color: lightpink;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  box-shadow: 2px 2px 15px 1px rgba(68, 68, 68, 0.6);
  padding: 5px;
  margin-bottom: 15px;
}
  
.new-board__header {
  font-size: 16px;
}

.new-board__content {
  display: flex;
  flex-direction: column;
}

.new-board__label {
  padding-bottom: 5px;
}

.new-board__input {
  height: 30px;
  padding: 5px 10px; 
}

.new-board__button--save {
  background-color: #ccc;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  padding: 10px;
}