/* BOARDS */
.boards {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}


/* SINGLE */
.single-board {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px rgba(68, 68, 68, 0.4);
  padding: 5px;
  position: relative;
  margin-bottom: 15px;
}

.single-board__heading {
  font-size: 18px;
  cursor: pointer;
  margin: 0 30px;
  padding: 10px;
}

.single-board__button--remove {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
}


/* NEW */
.new-board {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px rgba(68, 68, 68, 0.4);
  margin-bottom: 15px;
}

.new-board--closed {
  background-color: rgba(248, 230, 183, 0.6);
  cursor: pointer;

  font-size: 24px;
}

.new-board--closed .new-board__header {
  text-align: center;
  margin: 0;
  padding: 15px;
}

.new-board--closed .new-board__header__heading {
  color: #000;
}

.new-board__header {
  background-color: rgb(249, 249, 245);
  text-align: left;
  padding: 8px 20px 6px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.new-board__header__heading {
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(159, 159, 159);
  margin: 0;
}

.new-board__content {
  display: flex;
  flex-direction: column;
}

.new-board__label {
  padding-bottom: 10px;
  font-size: 22px;
}

.new-board__input {
  padding: 10px;
  margin: 0 20px 20px;
}

.new-board__footer {
  background-color: rgb(249, 249, 245);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 20px;
  border-top: 1px solid #ccc;
}

.new-board__footer__button--close {
  font-size: 18px;
  border: none;
  background: none;
  cursor: pointer;
}

.new-board__footer__button--save {
  font-size: 18px;
  color: #fff;
  background-color: rgb(16, 190, 180);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
