.cards {
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;
}
.draggable {
  background-color: #fff;
  padding: 5px;
  margin: 5px;
}

.droppable {
  height: 30px;
  border: 2px dotted #ccc;
  background: #f1f1f1;
  margin: 5px;
}

.card__button--remove {
  opacity: 0.1;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
}

.card__button--checkbox {
  display: none; /* remove */
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  cursor: pointer;
}

.card:hover .card__button--remove,
.card:hover .card__button--checkbox {
  opacity: 1;
}

.new-card__input {
  padding: 10px;
  margin: 0 5px 5px 5px;
}
